{% extends 'base.html.twig' %}

{% block title %}Etapes{% endblock %}

{% block body %}
    <h1>Etapes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etape.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ etape.titre }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ etape.lieu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ etape.date ? etape.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ etape.auteur }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ etape.description }}</td>
            </tr>
        </tbody>
    </table>

    {% for images in etape %}
        <img src="{{ images }}" alt="image {{ etape.image.iterator }}">
    {% endfor %}

    <a href="{{ path('voyage_etapes', {'slug': etape.voyage.slug}) }}">Retour à la liste des étapes</a>

    <a href="{{ path('etapes_edit', {'slug': etape.slug}) }}">edit</a>

    {{ include('etapes/_delete_form.html.twig') }}
{% endblock %}
