{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Voyage index</h1>
<div class="container">
<div class="row">

        {% for voyage in voyages %}
          <div class="col-md-4">
          <div class="card h-100">
            <h3 class="card-header">Voyage en {{ voyage.lieu }}</h3>
            <div class="card-body">
              <h5 class="card-title"> Du {{ voyage.depart ? voyage.depart|date('Y-m-d') : '' }} au
                {{ voyage.retour ? voyage.retour|date('Y-m-d') : '' }}</h5>
              <h6 class="card-subtitle text-muted"></h6>
            </div>
            <img src="{{ voyage.coverImage }}" alt="image principale">
            <div class="card-body">
              <p class="card-text">{{ voyage.titre }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="{{ path('voyage_show', {'slug': voyage.slug}) }}" class="card-link">Voir</a>
              <a href="{{ path('voyage_edit', {'slug': voyage.slug}) }}" class="card-link">Editer</a>
            </div>
          </div>
          </div>

        {% else %}

               no records found

        {% endfor %}
</div>

    <a href="{{ path('voyage_new') }}">Create new</a>
</div>
{% endblock %}
