{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
<div class="container">
<h1>Voyage</h1>
<div class="card">


  {{ voyage.titre }}
  {{ voyage.lieu }}

  {{ voyage.description|raw }}

  {{ voyage.depart ? voyage.depart|date('d-m-Y') : '' }}

  {{ voyage.retour ? voyage.retour|date('d-m-Y') : '' }}


  <a href="{{ path('voyage_index') }}">back to list</a>

  <a href="{{ path('voyage_edit', {'slug': voyage.slug}) }}">edit</a>

  <a href="{{ path('voyage_delete', {'slug': voyage.slug}) }}">Suppression</a>

  {{ include('voyage/_delete_form.html.twig') }}
</div>
</div>
  {% endblock %}
